SpeechRecognition/__pycache__/
SpeechRecognition/sound_data/
NLP/__pycache__
NLP/data/
NLP/checkpoints/
.DS_Store
models/
models \copy/
External/
NLP/Old/data
NLP/Old/checkpoints
NLP/Old/__pycache__
SpeechSynthesis/VAE/sound_data
SpeechSynthesis/VAE/generated_data
__pycache__
SpeechSynthesis/G2P/checkpoints
SpeechSynthesisV2/data/text-phone-sound
SpeechSynthesisV2/data/generated/training_samples
SpeechSynthesisV2/data/generated/test_samples
SpeechSynthesisV2/data/train-clean-100.tar.gz
SpeechSynthesisV2/data/text-phone-sound-dev
SpeechSynthesisV2/data/text-phone-sound-test
