SpeechRecognition/__pycache__/
SpeechRecognition/sound_data/
NLP/__pycache__
NLP/data/
NLP/checkpoints/
.DS_Store
models/
models \copy/
External/
NLP/Old/data
NLP/Old/checkpoints
NLP/Old/__pycache__
SpeechSynthesis/VAE/sound_data
SpeechSynthesis/VAE/generated_data
__pycache__
SpeechSynthesis/G2P/checkpoints
